<%= form_with(model: vehicle, local: true) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name %>
  </div>

  <div class="field">
    <%= form.fields_for :parent_categories do |s| %>
      <%= s.label :parent_category %>
      <%= s.text_field :parent_category %>
    <% end %>
  </div>

  <div class="field">
    <%= form.fields_for :sub_categories do |s| %>
      <%= s.label :sub_category %>
      <%= s.text_field :sub_category %>
    <% end %>
  </div>

  <div class="field">
    <%= form.fields_for :image_galleries do |s| %>
      <%= s.label :image %>
      <%= s.text_field :image %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
