<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vehicle.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @vehicle.color %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @vehicle.company_name %>
</p>

<p>
  <strong>Parent Category:</strong>
  <% @vehicle.parent_categories.each do |hello| %>
    <%= hello.parent_category %>
  <% end %>
</p>

<p>
  <strong>Sub Category:</strong>
  <% @vehicle.sub_categories.each do |hello| %>
    <%= hello.sub_category %>
  <% end %>
</p>

<p>
  <strong>Image Gallery:</strong>
  <% @vehicle.image_galleries.each do |hello| %>
    <%= hello.image %>
  <% end %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
