<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vehicle.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @vehicle.color %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @vehicle.company_name %>
</p>

<p>
  <div style="width:400px; height:auto">
  <strong>Vehicle image:</strong>
  <%= link_to image_tag(@vehicle.vehicle_image, style: 'width:100%'), vehicles_path %>
  </div>
</p>

<p>
  <strong>Parent Category:</strong>
  <% @vehicle.parent_categories.each do |hello| %>
    <%= hello.parent_category %>
  <% end %>
</p>

<p>
  <strong>Sub Category:</strong>
  <% @vehicle.sub_categories.each do |hello| %>
    <%= hello.sub_category %>
  <% end %>
</p>

<p>
  <strong>Image Gallery:</strong>
  <% @vehicle.image_galleries.each do |hello| %>
    <%= hello.image_gallery %>
  <% end %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
